run = "npx playwright test"
entrypoint = "login.spec.js"

[nix]
channel = "stable-22_11"

[deployment]
run = ["sh", "-c", "npx playwright test"]

[languages]

[languages.javascript]
pattern = "**/{*.js,*.jsx,*.ts,*.tsx}"

[languages.javascript.languageServer]
start = "typescript-language-server --stdio"